﻿<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("MovRental", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                
                <li>@Html.ActionLink("Customers", "", "Customers")</li>
                <li>@Html.ActionLink("Movies", "", "Movies")</li>
                <li>@Html.ActionLink("Rentals", "Rentals", "Rentals")</li>
                <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
                <li>@Html.ActionLink("About", "About", "Home")</li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
