﻿
@{
    ViewBag.Title = "ListMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@using (Html.BeginForm("New", "Movies"))
{
    <button type="submit" class="btn btn-primary">Movie</button>
}
<p>

</p>

<table id="movies" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>In Stock</th>
            <th>Available</th>
            <th>Delete</th>

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: "",


                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href = '/movies/edit/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "amountInStock"
                    },
                    {
                        data: "amountAvailable"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn btn-link js-delete' data-movie-id=" + data + ">Delete</button";
                        }
                    }

            ]
            });




            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();

                            }
                        });
                    }
                })

            })
        })
    </script>>


}

