﻿@model MovRental.Models.Movie
@using MovRental.Extensions

@{
    ViewBag.Title = "MovieDetailsShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Genre:          @Model.Genre.Name</li>
    <li>Release Date:   @Model.ReleaseDate.ToStringNullableDateTime("dd.MM.yyyy")</li>
    <li>Added:          @Model.DateAdded.ToStringNullableDateTime("dd.MM.yyyy")</li>
    <li>Amount in stock: @Model.AmountInStock</li>
</ul>

