﻿
@{
    ViewBag.Title = "ListMovies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>

</p>

<table id="movies" class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>In Stock</th>
            <th>Available</th>

            

        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: "",


                },
                columns: [
                    {
                        data: "name"
                        
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "amountInStock"
                    },
                    {
                        data: "amountAvailable"
                    }

            ]
            });




            
        })
    </script>>


}

