﻿
@{
    ViewBag.Title = "Rentals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rentals</h2>

<table id="rentals" class="table table-condensed">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer Name</th>
            <th>Movie Name</th>
            <th>Date Rented</th>
            <th>Date Returned</th>
            <th>Close?</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
@section Scripts
{
    <script>

        $(document).ready(function () {

            


            var table = $("#rentals").DataTable({
                ajax: {
                    url: "/api/rentals",
                    dataSrc: "",

                },
                columns: [
                    {
                        data: "id"
                        
                    },
                    {
                        data: "customer.name"
                    },
                    {
                        data: "movie.name"
                    },
                    {
                        data: "dateRented",
                        render: function formatDate(data) {
                            var date = new Date(data);

                            //Format time
                            function timeFormat(x) {
                                hh = x.getHours() < 10 ? "0" + x.getHours() : x.getHours();
                                mm = x.getMinutes() < 10 ? "0" + x.getMinutes() : x.getMinutes();
                                return hh + ":" + mm;
                            }

                            return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + " " + timeFormat(date);
                        }
                    },
                    {
                        data: "dateReturned",
                        render: function formatDate(data) {
                            if (data == null)
                                return "";
                            var date = new Date(data);
                            
                            //Format time
                            function timeFormat(x) {
                                hh = x.getHours() < 10 ? "0" + x.getHours() : x.getHours();
                                mm = x.getMinutes() < 10 ? "0" + x.getMinutes() : x.getMinutes();
                                return hh + ":" + mm;
                            }

                            return date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + " " + timeFormat(date);
                        }
                    },
                    {
                        data: "id",
                        render: function (data, type, rental) {
                            if (rental.dateReturned == null)
                                return "<button class = 'btn btn-primary js-close' data-rental-id=" + data + ">Close</button";
                            else return "";
                        }
                    }
                ]


            });

            $("#rentals").on("click", ".js-close", function () {
                var button = $(this);


                bootbox.confirm("Are you sure you want to close this rental?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/rentals/" + button.attr("data-rental-id"),
                            method: "PUT",
                            success: function () {
                                table.ajax.reload();

                            },
                            error: function () {
                                console.log("Something went wrong.");
                            }
                        }).done(function () {
                            toastr.success("Rental " + button.attr("data-rental-id") + " was closed.");
                        }).fail(function () {
                            toastr.error("Something unexpected happended.");
                        })
                    }
                })

            })


        });



        
    </script>
}
