﻿@model List<MovRental.Models.Customer>

@{
    ViewBag.Title = "List of Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@using(Html.BeginForm("New", "Customers"))
{ 
    <button type="submit" class="btn btn-primary">New Customer</button>
}
<br />

<table id = "customers" class="table table-condensed table-active">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
            
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: "",
                    

                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href = '/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class = 'btn-link js-delete' data-customer-id=" + data + ">Delete</button";
                        }
                    }

            ]
            });




            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                
                            }
                        });
                    }
                })

            })
        })
    </script>>


}