﻿@model MovRental.Models.Customer

@{
    ViewBag.Title = "ShowCustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    
    @if (Model.BirthDate != null)
        {
            <li>Birth Date: @Model.BirthDate</li>
        }
    
    <li>Membership Type : @Model.MembershipType.Name</li>

</ul>